# General
.vscode/
node_modules/
package-lock.json
lib

# Build outputs
storybook-static
*.tgz
bundle-analysis.html

# Dev files
debug.log

# Codefee Architect templates
.cf-template
cf-template.config.json